* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#appBar {
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    max-height: fit-content;
    margin-left: 0;
    box-shadow: 0px -1px 10px -1px #4A4A4A;
}

#GoogleLink {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#tagLine {
    width: 100%;
    max-height: fit-content;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: linear-gradient(to right, #067BFD, #7E40F2);
}

.arrow-icon {
    font-size: 10px;
}

#navBar {
    display: flex;
    width: 100%;
    max-height: fit-content;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

#flutetrLogoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#navItems {
    max-height: fit-content;
    max-width: fit-content;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    /* width: 00px; */
}

#items {
    align-items: center;
    display: flex;
}

#itemsList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#listItem {
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#dropdown {
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    list-style-type: none;
    padding: 10px 20px;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    box-shadow: 2px 2px 5px -1px #4A4A4A;
    /* border: 2px solid red; */
    border-radius: 10px;
    /* min-width: fit-content; */
    /* overflow: visible; */
    width: 200px;
}

#dropdown a {
    padding: 10px 10px;
    text-decoration: none;
    /* background-color: yellow; */
    border-radius: 20px;
    display: block;
    width: 100%;
    margin: 5px 0px;
    color: #4A4A4A;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#dropdown a:hover {
    background-color: #F8F9FA;
    color: #067BFD;
    font-weight: 600;
}

#listItem:hover #dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#docsDropdownDiv {
    display: flex;
    position: absolute;
    top: 150%;
    padding: 10px 20px;
    background-color: white;
    /* border: solid 2px red; */
    gap: 30px;
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 1000;
    box-shadow: 2px 2px 5px -1px #4A4A4A;
    border-radius: 10px;
    /* align-items: center; */
    right: -130px;
    width: 350px;
}

#docsDropdownDivList {
    list-style-type: none;
}

#docsDropdownDivList a {
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    margin: 5px 0px;
    border-radius: 20px;
    color: #4A4A4A;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

#docsDropdownDivList a:hover {
    background-color: #F8F9FA;
    color: #067BFD;
    font-weight: 600;
}

#docsDropdownDivLeft,
#docsDropdownDivRight {
    width: calc(100%/2);
}

#listItem:hover #docsDropdownDiv {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


#itemLink {
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
    color: #4A4A4A;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

#itemLink:hover {
    background-color: #F8F9FA;
    color: #067BFD;
}

#searchIconDiv {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
}

#searchIconDiv:hover {
    background-color: #F8F9FA;
}

.searchIcon {
    color: #4A4A4A;
    font-size: 15px;
    font-weight: bold;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

#getStartedButton {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 20px;
}

#startBtn {
    background-color: #0468D7;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

#homePageBody {}

#homeTextImage {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}

#homeTextImage-Text {

    font-weight: 800;
    font-size: 56px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    height: 100%;
    word-spacing: 1px;
    line-height: 1.2;
    letter-spacing: 0px;
}

#homeTextImage-Image {
    width: 55%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#homeImage {
    max-width: 100%;
}

#homeFirstDiv {
    padding: 70px 40px;
    background: linear-gradient(to top right, #FCDFE9, #F3FCFF, white);
}

#homeFirstDivLine {
    padding-top: 80px;
    /* min-height: 150px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #000000;
    max-height: fit-content;
    font-family: 'poppins', sans-serif;
}

#CEP {
    display: flex;
    /* justify-content: space-between; */
    margin: 70px 50px;
    gap: 25px;
    /* width: 100%; */
}

#CEP-Community,
#CEP-Events,
#CEP-Packages {
    border-top: 5px solid #E8EAED;
    padding: 24px 50px 0 0;
    width: calc(100vw - 300px);
}

#h3HeadingCep {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 25px 0px;
}

#pTagCep {
    font-size: 20px;
    color: #4A4A4A;
    font-family: 'Inter', sans-serif;
    margin: 0px 0px 70px 0px;
}

#imgTagCep {
    max-width: 100%;
}

#getInvolvedDiv {
    justify-content: space-between;
    margin: 100px 0px;
    padding: 0px 70px;
    display: flex;
    gap: 70px;
}

#getInvolvedDivInfo {
    /* width: calc(100% - 40px); */
    padding-top: 130px;
    font-family: 'Inter', sans-serif;
}

#getInvolvedDivInfo h3 {
    color: #4A4A4A;
    font-weight: bold;
    font-size: 25px;
}

#getInvolvedDivInfo h2 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 70px;
}

#getInvolvedDivInfo p {
    /* max-width: 100%; */
    color: #4A4A4A;
    margin-top: 30px;
    margin-right: 100px;
    /* font-weight: bold; */
    font-size: 20px;
    word-spacing: 1px;
    line-height: 1.2;
    letter-spacing: 0px;
}

#getInvolvedDivImage {
    height: max-content;
}

#getInvolvedDivLink {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#getInvolvedDivLink button {
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #0468D7;
    font-family: 'Inter', sans-serif;
    color: #0468D7;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#getInvolvedDivLink button:hover {
    background-color: #0468D7;
    color: white;
}

#getInvolvedDivLink a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: black;
    align-items: center;
    display: flex;
}
#getInvolvedDivLink a:hover{
    cursor: pointer;
}
#getInvolvedDivLink a i {
    padding-left: 5px;
    transition: padding-left 1s ease;
}

#getInvolvedDivLink a:hover i {
    padding-left: 10px;
    
}

#getInvolvedDivImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#getInvolvedDivImage img{
    width: 100%;
}

#flutterConsultantDiv{
    display: flex;
    align-items: center;
    padding: 50px 40px;
    gap: 40px;
    background: linear-gradient(to top right,#FCFCE2,#FCFCE2,#F5FBFE);
}

#flutterConsultantImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2000px;
}
#flutterConsultantImage img{
    width: 100%;
}

#flutterConsultantInfo{
    padding: 0px 50px 0px 140px;

}
#flutterConsultantInfo h3{
    font-size: 20px;
    margin: 0px 0px 20px;
    font-weight: bold;
    font-family: 'Inter',sans-serif;
    color: #4A4A4A;
}
#flutterConsultantInfo h2{
    font-size: 60px;
    margin: 0px 0px 32px;
    color: black;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0px;
    font-family: 'Inter',sans-serif;
}
#flutterConsultantInfo p{
    margin: 0px 0px 32px;
    font-size: 20px;
    color: #4A4A4A;
    font-family: 'Inter',sans-serif;

}
#flutterConsultantInfoBtn button{
    cursor: pointer;
    margin: 0px 0px 14px;
    padding: 10px 32px;
    color: white;
    font-family: 'Inter',sans-serif;
    background-color: #0468D7;
    border: 1px solid #0468D7;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}