<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/productDetail.css">
  <title>Page Title</title>
</head>
<body>
<%= product.title %>
<a href="/productDetails/update/<%=product._id%>">Update</a>

<a href="/productDetails/delete/<%=product._id%>">Delete</a>

</body>
</html>