#boxDiv{
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid 2px black;
}
.dark{
    text-align: center;
    vertical-align: middle;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

b{
    display: none;
}
#hridayText{
    text-decoration: underline;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

.btnDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}